.inner
  h4 Information

  //- AK - Under Information TAB, Reference Section add RD-Switchboard Project and Browswer
  h5 Reference
  ul.undecorated
    li
      a(href='http://rd-switchboard.org/') RD-Switchboard Project
    li
      a(href='http://rd-switchboard.net/') RD-Switchboard Browser
  
  h5 Guides

  ul
    li
      a(play-topic='intro') Getting started
    li
      a(play-topic='graphs') Basic graph concepts
    li
      a(play-topic='cypher') Writing Cypher queries
  //- AK - Information TAB, Remove Example graphs section

  h5 Help
  ul
    li
      a(help-topic='cypher') Cypher syntax
    li
      a(help-topic='help') Help command
    li
      a(help-topic='commands') Available commands
    li
      a(help-topic='keys') Keyboard shortcuts
//- AK - Information TAB, remove WebAdmin link
