//- AK - welcome modified for RD-Switchboard project 
article.guide.guide_start
  .container-fluid
    .row
      .col-sm-3
        .box-max
          .rd-switchboard
            a.no-out-symbol.logo-img(href='http://rd-switchboard.org/')
              img.logo(src='images/rd-switchboard-logo.png')
            .logo-txt
               a.no-out-symbol(href='http://rd-switchboard.org/')
                 | RD-Switchboard
                 span Graph Database
            .clearfix
          p.lead.rd-switchboard-intro
            | Welcome to 
            br 
            | Research Data Switchboard 
            br 
            | Graph Database
      .col-sm-9
        .teaser.teaser-3.teaser-intro
          h3 Neo4j Graph Database
          p.lead Neo4j Browser is a command driven client, like a web-based shell environment.
          button.btn.btn-cta(play-topic='intro') Learn More

        .teaser.teaser-3.teaser-intro
          h3 Graph Concept 101
          p.lead A graph database can store any kind of data using a few simple concepts
          button.btn.btn-cta(play-topic='concepts') Learn More

        .teaser.teaser-3.teaser-intro
          h3 Cypher Language
          p.lead Neo4j's Cypher language is purpose built for working with graph data.
          button.btn.btn-cta(play-topic='cypher') Learn More

    footer.tight.tight-intro
      p.text-muted Powered by Neo4j Technology
